<section>
<div class="container mt-4">
    <div class="row">

        <div class="col-md-6">
            <h2 class="text-center">Add Product</h2>
            <form action="/admin/add-product" method="post" enctype="multipart/form-data" >
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control">
                <div class="pt-4 pb-4">
                  
                <select class="p-2 form-control" name="Category" id="">
                    <option selected disabled>Select a Category</option>
                    <%category.forEach(categor => { %>
                    <option value="<%=categor.Category%>"><%=categor.Category%></option>
                    <% }) %> 
                </select>
                </div>

                <label for="">Price</label>
                <input type="text" name="Price" class="form-control">

                <label for="">Description</label>
                <input type="text" name="Description" class="form-control">

                <label for="">Image</label>
                <input type="file" name="Image" class="form-control">

                <button type="submit" class="btn btn-success mt-4">Submit</button>
            </form>
        </div>

</div>
</div>
</section>