


  <div class="row ">
    <div class="col-md-10 m-auto">
        <div class="container m-5 mt-5 pl-5">
            <h2 class="text-center">Admin Login</h2>
            <h5 class="text-center"><%= locals.msg %> </h5>
            <div class="m-5 p-5">
        <form  action="/admin" method="post">
            
            <div class="form-group">
                <input type="email" class="form-control mt-5" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                 <input type="password" class="form-control" name="password" placeholder="Password">
             </div>
           
             <button type="submit" class="btn btn-primary float-left mb-5">Login</button>
        </form>
    </div>
    </div>
    </div>
</div>