<div class="banner-top container-fluid" id="home"></div>
<!-- header -->
<header>
    <div class="row">
        <div class="col-md-3 top-info text-left mt-lg-4">

        </div>
        <div class="col-md-6 logo-w3layouts text-center">
            <h1 class="logo-w3layouts">
                <a class="navbar-brand" href="/">
                    VINCENT CHASE</a>
            </h1>
        </div>

        <div class="col-md-3 top-info-cart text-right mt-lg-4 ">
            <ul class="cart-inner-info">
                <% if(locals.users){ %>
                    <li class="galssescart galssescart2 cart cart box_1">

                        <a href="/democart">
                            <button class="top_googles_cart" type="submit" name="submit" value="">
                                Cart
                                <i class="fas fa-cart-arrow-down"></i>
                                <span class="badge text-bg-secondary" id="cart-count">
                                    <%= cartCount%>
                                </span>
                            </button>
                        </a>
                    </li>
                    <% } %>
                        <li>
                            <div class="dropdown">
                                <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="fa fa-user" aria-hidden="true">
                                        <% if(locals.users){ %>
                                            <%= users.Name %>
                                                <% }else{ %>
                                                    Account
                                    </span>
                                    <% } %>

                                </button>
                                <ul class="dropdown-menu">
                                    <% if(locals.users){ %>
                                        <li><a class="dropdown-item" href="/profile ">Profile</a></li>
                                        <li><a class="dropdown-item" href="/logout ">Logout</a></li>
                                        <% }else{ %>
                                            <li><a class="dropdown-item" href="/login">Login</a></li>
                                            <% } %>
                                </ul>
                            </div>
                        </li>



            </ul>

        </div>
    </div>
    <div class="search">
        <div class="mobile-nav-button">
            <button id="trigger-overlay" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <!-- open/close -->
        <div class="overlay overlay-door">
            <button type="button" class="overlay-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <form action="#" method="post" class="d-flex">
                <input class="form-control" type="search" placeholder="Search here..." required="">
                <button type="submit" class="btn btn-primary submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

        </div>
        <!-- open/close -->
    </div>
    <!-- <label class="top-log mx-auto"></label> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">

            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-mega mx-auto">
                <li class="nav-item">
                    <a class="nav-link ml-lg-0" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu mega-menu ">
                        <li>
                            <div class="row">

                                <div class="col-md-4 media-list span4 text-left">
                                    <h5 class="tittle-w3layouts-sub"> Category</h5>
                                    <ul>
                                        <% category.forEach(category=> { %>
                                            <li class="media-mini mt-3">

                                                <a href="shop.html">
                                                    <%= category.Category %>
                                                </a>
                                            </li>
                                            <% }) %>

                                    </ul>


                                </div>

                            </div>
                            <hr>
                        </li>
                    </ul>


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>

            </ul>

        </div>
    </nav>
</header>
</div>




<!-- banner -->
<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="index.html">Home</a>
                    <i>|</i>
                </li>
                <li>Shop</li>
            </ul>
        </div>
    </div>

</div>
<!--//banner -->