<div class="row">
	<div class="col-md-3 top-info text-left mt-lg-4">

	</div>
	<div class="col-md-6 logo-w3layouts text-center">
		<h1 class="logo-w3layouts">
			<a class="navbar-brand" href="index.html">
				VINCENT CHASE</a>
		</h1>
	</div>
	</div>

<!--/404-->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
	<div class="container-fluid">
		<div class="error_page">
			<h4>404</h4>
			<p>This link dead link</p>
			<!-- <form action="#" method="post">
				<input class="serch" type="search" name="serch" placeholder="Search here" required="">
				<button class="btn1">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
				<div class="clearfix"> </div>
			</form> -->

			<a class="b-home" href="/">Back to Home</a>
		</div>

	</div>
</section>
<!--//404-->