<section class="signup pt-5">
	<div class="container">
		<div class="signup-content">
			<div class="signup-form">
				<h2 class="form-title">Sign up</h2>
				<form action="/signup" method="POST" class="register-form" id="register-form">
					<div class="form-group text-start">
						<label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
						<input  type="text" name="Name" id="name"
                        <% if(locals.name){ %>
                            placeholder="<%= locals.name %>"
                       <% }else{ %>
                    placeholder="Your Name"
                        <% } %> />
                    
					</div>
					<div class="form-group">
						<label for="number"><i class="zmdi zmdi-phone"></i></label>
						<input type="number" name="Number" id="number"
                        <% if(locals.name){ %>
                            placeholder="<%= locals.number %>"
                       <% }else{ %>
                    placeholder="Mobile Number"
                        <% } %> />
					</div>
					<div class="form-group">
						<label for="email"><i class="zmdi zmdi-email"></i></label>
						<input  type="email" name="Email" id="email" 
                        <% if(locals.email){ %>
                            placeholder="<%= locals.email %>"
                       <% }else{ %>
                    placeholder="Your Email"
                        <% } %> />
					</div>
					<div class="form-group">
						<label for="pass"><i class="zmdi zmdi-lock"></i></label>
						<input type="password" name="Password" id="pass" 
                        <% if(locals.password){ %>
                            placeholder="<%= locals.password %>"
                       <% }else{ %>
                    placeholder="Password"
                        <% } %> />
					</div>
					<div class="form-group">
						<input  type="hidden" name="Status" id="email" value="false" />
					</div>
					<!-- <div class="form-group">
						<label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
						<input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
					</div> -->
					<div class="form-group">
						<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
						<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
					</div>
					<div class="form-group form-button">
						<input type="submit" id="signup" class="form-submit" value="Register"/>
					</div>
				</form>
			</div>
			<div class="signup-image">
				<figure><img src="images/signup.webp
					" alt="sing up image"></figure>
				<a href="/login" class="signup-image-link">I am already member</a>
			</div>
		</div>
	</div>
</section>
